.homepage-section-01{
    display: flex;
    width: 100%;
}

.homepage-section-02{
    width: 100%;
    height: 500px;
    padding-top: 200px;
    background-color: #F5F5F5;
}

.swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: rgba(13, 13, 13, 0.75);
  }

  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #7d2ae8;
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #7d2ae8;
  }

.homepage-section-03{
    display: flex;
    width: 100%;
    height: 700px;
    padding-top: 50px;
    background-color: #F5F5F5;
}

.homepage-section-04{
    width: 100%;
    height: 500px;
    padding-top: 50px;
    background-color: #F5F5F5;
}

.homepage-section-05{
    width: 100%;
    height: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
}

.homepage-section-01-left,.homepage-section-01-right{
    flex: 5;
}

.homepage-section-01-left{
    padding: 70px;
}

.homepage-section-01-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1{
    position: absolute;
    right: 345px;
    top: 140px;
}

.img-2{
    position: absolute;
    right: 462px;
    top: 245px;
}

.img-3{
    position: absolute;
    right: 492px;
    top: 448px;
}

.img-4{
    position: absolute;
    right: 0px;
    top: 193px;
}

.tagline{
    color: #9921E8;
}

.tagline-div{
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    padding: 5px 20px;
    margin: 20px 50px;
    border-radius: 50px;
}

.tagline-2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.tagline-2-div{
    height: 78px;
    width: 487px;
    margin: 20px 50px;
}

span{
    color: #FFFFFF;
}

.enroll-div{
    border: 2px solid white;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 20px;
    margin: 50px 50px;
    cursor: pointer;
}

.offer{
    font-size: 12px;
    font-weight: 400;
    margin-left: 136px;
}

.line{
    background-color: white;
    width: 32px;
    height: 1px;
    margin-left: 227px;
    margin-top: 5px;
}

.countdown{
    width: 328px;
    height: 89px;
    display: flex;
    margin-left: 80px;
    margin-top: 10px;
}

.timer{
    height: 88px;
    width: 88px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: auto;
}

.time{
    width: fit-content;
    margin: auto;
}

.course-intro{
    font-size: 18px;
    font-weight: 700;
    color: #0D0D0D;
    width: fit-content;
    margin-left: 120px;
}

.Carousel-01{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 400px;
    margin: 50px auto;
}

.container{
    width: 100%;
    height: 400px;
    display: flex;
}

.card{
    height: 312px;
    width: 282px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.25);
    box-shadow: 0 10px 50px rgba(13, 13, 13, 0.12);
}

.course-desc{
    display: flex;
}

.name{
    width: 228px;
    height: 17px;
    margin-left: 25px;
}

.rating{
    margin-left: 25px;
    width: fit-content;
}

.enroll-03-button{
    border: 1px solid #5F72BE;
    background-color: rgba(217, 217, 217, 0.25);
    color: #5F72BE;
    height: 32px;
    width: 128px;
    cursor: pointer;
}

.email{
    display: flex;
    width: 1312px;
    height: 120px;
    background-color: #5F72BE;
    margin: auto;
    border-radius: 10px;
}

.email-left,.email-right{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us{
    background-color:#2D81F7;
    border: none;
    width: 328px;
    height: 52px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.Section-03-left{
    flex: 1;
    margin: auto;
    margin-left: 100px;
}

.Section-03-right{
    flex: 2;
    display: flex;
    padding-left: 200px;
}

.section-03-right-01,.section-03-right-02{
    flex: 2;
}

.section-03-right-01{
    background-color: #0D0D0D;
    width: 100%;
    height: 600px;
    margin: auto;
}

.section-03-right-02{
    background-color: #f90000;
    width: 100%;
    height: 600px;
    margin: auto;
}

.enroll-02{
    border: 1px solid #5F72BE;
    background-color: #F5F5F5;
    color: #5F72BE;
    width: 100%;
    cursor: pointer;
}

.Carousel-02{
    width: 100%;
    height: 480px;
    padding-top: 20px;
}

.container-02{
    height: 480px;
}

.card-02{
    width: 1000px;
    height: fit-content;
    margin: auto;
}

.image-02{
    margin: auto;
    width: fit-content;
}

.content-02{
    width: 100%;
    height: 332px;
    width: 700px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.course-desc-02{
    width: 700px;
    height: 66px;
}

.name-02{
    margin: auto;
    margin-top: 30px;
    width: fit-content;
}

.profession{
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}